.personCont{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-height: 100vh;
    position: relative;
}

.spinnerCont{
    text-align: center;
    width: 100%;
}

.spinner{
    width: 5em;
    text-align: center;
    margin: 5em auto;
}

.backButton{
    position: fixed;
    margin-top: 1em;
    margin-left: 1em;
    z-index: 99;
    cursor: pointer;
}

.backButton i{
    color: white;
    font-size: 3em;
    color :#aaaaaa;
}

.personCont h1{
    /* position: absolute;
    left: 20%; */
    color: white;
    line-height: 1em;
}

.personContLeft{
    flex: 1;
    max-width: 50%;
    text-align: left;
    position: relative;
}

.characterImage{
    width: 100%;
	display: block;
    filter: brightness(60%);
    max-height: 100%;
    object-fit: cover;
    object-position: 100% 0;
}

.personContLeft:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: -56px 0px 57px 49px rgba(17, 11, 11, 1) inset;
}

.personContRight{
    flex: 1;
    max-width: 50%;
    text-align: left;
    padding: 2em;
    font-family: 'Star Jedi', arial;
}

.personContRight h1{
    font-size: 6em;
    color: #ecd014;
}

.detailsGrid{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "born gender"
        "eye hair"
        "height mass";

    font-family: 'Roboto', sans-serif;
    color: #ecd014;
}

.detailsGrid div{
    border: 1px solid #ecd014;
}

.detailsGrid p{
    margin-left: 1em;
}

/* .born{
    grid-area: born;
}
.born{
    grid-area: gender;
}
.born{
    grid-area: eye;
}
.born{
    grid-area: hair;
}
.born{
    grid-area: height;
}
.born{
    grid-area: mass;
} */