.searchBarCont{
    display: flex;
    flex-wrap: nowrap;
}
.searchInput {
    width: 100%;
    padding: 16px 5px 16px 24px;
    border-radius: 25px 0 0 25px;
    border: 0;
    outline: 0;
    font-size: 16px;
    background: #2d2f30;
    color: #f2f2f2;
    background-color: #2d2f30;
}

.searchIcon{
    color: #000;
    font-size: 1em;
    padding: 6px 6px 6px 0;
    border-radius: 0 25px 25px 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    background: #2d2f30;
    background-color: #2d2f30;
    cursor: pointer;
}

.searchIcon i{
    border-radius:100%;
    background-color: #ecd014;
    padding : 10px;
}

.searchCont{
    width: 100%;
    position: relative;
    background: #2d2f30;
    color: #f2f2f2;
    background-color: #2d2f30;
    border-radius: 25px;
}

.dropDown{
    width: 100%;
    position: absolute;
    display: block;
    border-radius: 0 0 25px 25px;
    border: 0;
    outline: 0;
    font-size: 16px;
    background: #2d2f30;
    color: #f2f2f2;
    background-color: #2d2f30;
}

.spinnerIcon img{
    max-width: 2.9em;
}



